---
import Pag from "@/layouts/pag.astro";
import Cart from "@/components/Cart.astro";
---


<Pag title="Bonsais">
    <main class="mx-4 mt-[96px]">
        <h1 class="text-primary text-4xl text-center font-bold sm:text-6xl my-14">Bonsais</h1>

        <section class="flex flex-wrap gap-x-[6px] gap-y-[15px] w-full max-w-[1200px] m-auto justify-center my-8">
            <Cart 
                img="../img/bonsais.webp"
            />
            <Cart 
                img="../img/bonsais.webp"
            />
            <Cart 
                img="../img/bonsais.webp"
            />
            <Cart 
                img="../img/bonsais.webp"
            />
            <Cart 
                img="../img/bonsais.webp"
            />
            <Cart 
                img="../img/bonsais.webp"
            />
        </section>
    </main>
</Pag>