---

---

<section class="relative" id="inicio">
  <div
    class="absolute inset-0 bg-white/45 sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>
  <video src="/img/fauna.mp4"
    class="absolute m-0 p-0 -z-30 left-0 h-full w-full object-cover"
    autoplay
    loop
    
  ></video>
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-full lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl"><span class="text-primary">NaturArte</span>, Los mejores<strong class="block font-bold sm:text-4xl">Personalizando tus espacios.</strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed font-semibold">
        Escribenos si deseas crear un espacio de tranquilidad donde puedas trabajar o estudiar con un hambiente agradable.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#Productos"
          class="block w-full rounded bg-primary px-12 py-3 text-sm font-medium text-white shadow focus:outline-none focus:ring hover:bg-white hover:text-primary sm:w-auto"
        >
          Empieza Ya
        </a>

        <a
          href="#Contactenos"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-primary shadow hover:text-devw focus:outline-none focus:ring active:text-devw hover:bg-primary sm:w-auto"
        >
          Saber mas
        </a>
      </div>
    </div>
  </div>
</section>