---

---

<section class="relative">
  <div
    class="absolute inset-0 bg-white/45 sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"
  ></div>
  <video src="/img/fauna.mp4"
    class="absolute m-0 p-0 -z-30 left-0 h-screen w-full object-cover"
    autoplay
    loop
    
  ></video>
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
    <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl">NatuArte | Los mejores<strong class="block text-primary font-extrabold sm:text-4xl">Personalizando tus espacios.</strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        Escribenos si deseas crear un espacio de tranquilidad donde puedas trabajar o estudiar con un hambiente agradable.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded bg-primary px-12 py-3 text-sm font-medium text-white shadow focus:outline-none focus:ring active:bg-white active:text-primary sm:w-auto"
        >
          Get Started
        </a>

        <a
          href="#"
          class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-primary shadow hover:text-primary focus:outline-none focus:ring active:text-devw active:bg-primary sm:w-auto"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>