---

---

<link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />

<script type="module">
  import KeenSlider from 'https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm'

  const keenSlider = new KeenSlider(
    '#keen-slider',
    {
      loop: true,
      slides: {
        origin: 'center',
        perView: 1.25,
        spacing: 16,
      },
      breakpoints: {
        '(min-width: 1024px)': {
          slides: {
            origin: 'auto',
            perView: 1.5,
            spacing: 32,
          },
        },
      },
    },
    []
  )

  const keenSliderPrevious = document.getElementById('keen-slider-previous')
  const keenSliderNext = document.getElementById('keen-slider-next')

  const keenSliderPreviousDesktop = document.getElementById('keen-slider-previous-desktop')
  const keenSliderNextDesktop = document.getElementById('keen-slider-next-desktop')

  keenSliderPrevious.addEventListener('click', () => keenSlider.prev())
  keenSliderNext.addEventListener('click', () => keenSlider.next())

  keenSliderPreviousDesktop.addEventListener('click', () => keenSlider.prev())
  keenSliderNextDesktop.addEventListener('click', () => keenSlider.next())
</script>

<section class="bg-gray-50" id="Destacado">
  <div class="mx-auto max-w-[1340px] px-4 py-12 sm:px-6 lg:me-0 lg:py-16 lg:pe-0 lg:ps-8 xl:py-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:items-center lg:gap-16">

      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right m-auto">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl text-primary">
          Conoce nuestros productos destacados.
        </h2>

        <p class="mt-4 text-gray-700">
          Mira un poco de los mejores productos que podras encontrar en nuestra pagina web. <br>
          que esperas para llevarte el <strong>TUYO!!</strong>
        </p>

        <div class="hidden lg:mt-8 lg:flex lg:gap-4 justify-center">
          <button
            aria-label="Previous slide"
            id="keen-slider-previous-desktop"
            class="rounded-full border border-info1 p-3 text-primary transition hover:bg-primary hover:text-white"
          >
            <svg
              
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 rtl:rotate-180"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5L8.25 12l7.5-7.5"
              />
            </svg>
          </button>

          <button
            aria-label="Next slide"
            id="keen-slider-next-desktop"
            class="rounded-full border border-info1 p-3 text-primary transition hover:bg-primary hover:text-white"
          >
            <svg
              class="size-5 rtl:rotate-180"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              
            >
              <path
                d="M9 5l7 7-7 7"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </svg>
          </button>
        </div>

      </div>

      <div class="-mx-6 lg:col-span-2 lg:mx-0 w-full">

        <div id="keen-slider" class="keen-slider">

          <a 
          href="./pag/bonsais"
          class="keen-slider__slide w-full h-[500px]">
            <img 
              src="./img/b_01.webp" 
              alt="bonsais"
              title="bonsais"
              class="h-full w-full object-cover rounded-md">
        </a>

          <a
          href="./pag/colgantes"
          class="keen-slider__slide w-full h-[500px]">
            <img 
              src="./img/c_01.webp" 
              alt="colgantes"
              title="colgantes"
              class="h-full w-full object-cover rounded-md">
          </a>

          <a 
          href="./pag/macetas"
          class="keen-slider__slide w-full h-[500px]">
            <img 
              src="./img/m_01.webp" 
              alt="macetas"
              title="macetas"
              class="h-full w-full object-cover rounded-md">
          </a>

          <a 
          href="./pag/arreglos"
          class="keen-slider__slide w-full h-[500px]">
            <img 
              src="./img/a_01.webp" 
              alt="plantas"
              title="plantas"
              class="h-full w-full object-cover rounded-md">
          </a>

        </div>

      </div>
    </div>

    <div class="mt-8 flex justify-center gap-4 lg:hidden">
      <button
        aria-label="Previous slide"
        id="keen-slider-previous"
        class="rounded-full border border-info1 p-3 text-primary transition hover:bg-primary hover:text-white"
      >
        <svg
          class="size-5 -rotate-180 transform"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          
        >
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </button>

      <button
        aria-label="Next slide"
        id="keen-slider-next"
        class="rounded-full border border-info1 p-3 text-primary transition hover:bg-primary hover:text-white"
      >
        <svg
          class="h-5 w-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          
        >
          <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
        </svg>
      </button>
    </div>
  </div>
</section>