---
import Products from "./Products.astro";
import Post from "./Post.astro";
---


<section>
    <Products title="Flores"/>
	<Products title="Macetas"/>
	<Products title="Bonsais"/>
    <Post />
</section>