---
import Products from "./Products.astro";
import Post from "./Post.astro";
---


<section>
    <Products title="Macetas"/>
	<Products title="Floreros"/>
	<Products title="Adornos"/>
    <Post />
</section>