---
import Products from "@/components/Products.astro";
import Post from "@/components/Post.astro";
import Coment from "@/components/Coment.astro";
---


<section id="Productos" >
    <article class="flex flex-wrap gap-4 py-14 justify-evenly">
        <Products 
        title="Bonsáis"
        url="./pag/bonsais"
        img="./img/b_01.webp"
    />
    <Products 
        title="Macetas"
        url="./pag/macetas"
        img="./img/m_01.webp"
    />
    <Products 
        title="Colgantes"
        url="./pag/colgantes"
        img="./img/c_01.webp"
    />
    <Products 
        title="Arreglos"
        url="./pag/arreglos"
        img="./img/a_01.webp"
    />
    </article>
    <Coment />
    <Post />
</section>