---

---

<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center" id="Nosotros">
    <div class="p-8 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
          <span class="text-primary">NaturArte</span>, un proyecto familiar llevado a la puerta de tu casa.
        </h2>
  
        <p class="hidden text-gray-500 md:mt-4 md:block">
          Nos encanta poder ser partes de tus logros y que mas. que estar en tus espacios de concentracion
          con nuestros productos podras respirar un aire diferente mientras logras tus sueños.
        </p>
  
        <div class="mt-4 md:mt-8">
          <a
            href="#Productos"
            class="inline-block rounded bg-emerald-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-emerald-700 focus:outline-none focus:ring focus:ring-yellow-400"
          >
            Mira nuestro trabajo.
          </a>
        </div>
      </div>
    </div>

    <video src="/img/prom.mp4"
    autoplay
    loop
    muted
    ></video>
  </section>

  <section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-primary sm:text-4xl">Confia mientras ahorras.!!!</h2>
  
        <p class="mt-4 text-gray-500 sm:text-xl">
          Nuestros productos son fabricados con mucha dedicacion y con los mejores materiales
          para asi brindarles una experiencia como ninguna otra.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Alta calidad⭐</dt>
  
            <dd class="text-4xl font-extrabold text-primary md:text-5xl">100%</dd>
          </div>
  
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Buenos precios⭐</dt>
  
            <dd class="text-4xl font-extrabold text-primary md:text-5xl">100%</dd>
          </div>
  
          <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Personalizados⭐</dt>
  
            <dd class="text-4xl font-extrabold text-primary md:text-5xl">100%</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>