---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<h2 class="text-primary text-3xl font-bold sm:text-4xl pt-6 pl-6">{title}</h2>
<aside class="flex gap-6 flex-wrap justify-center p-6">

    <article>

        <a href="#" class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              class="h-56 w-full rounded-md object-cover"
            />
          
            <div class="mt-2">
              <dl>
                <div>
                  <dt class="sr-only">Price</dt>
          
                  <dd class="text-sm text-gray-500">$240,000</dd>
                </div>
          
                <div>
                  <dt class="sr-only">Address</dt>
          
                  <dd class="font-medium">123 Wallaby Avenue, Park Road</dd>
                </div>
              </dl>
 
            </div>
        </a>

    </article>


    <article>

        <a href="#" class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              class="h-56 w-full rounded-md object-cover"
            />
          
            <div class="mt-2">
              <dl>
                <div>
                  <dt class="sr-only">Price</dt>
          
                  <dd class="text-sm text-gray-500">$240,000</dd>
                </div>
          
                <div>
                  <dt class="sr-only">Address</dt>
          
                  <dd class="font-medium">123 Wallaby Avenue, Park Road</dd>
                </div>
              </dl>
 
            </div>
        </a>

    </article>


    <article>

        <a href="#" class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              class="h-56 w-full rounded-md object-cover"
            />
          
            <div class="mt-2">
              <dl>
                <div>
                  <dt class="sr-only">Price</dt>
          
                  <dd class="text-sm text-gray-500">$240,000</dd>
                </div>
          
                <div>
                  <dt class="sr-only">Address</dt>
          
                  <dd class="font-medium">123 Wallaby Avenue, Park Road</dd>
                </div>
              </dl>
 
            </div>
        </a>

    </article>
    
</aside>

<div class="text-end p-6">
    <a
    class="inline-block rounded border border-current px-8 py-3 text-sm font-medium text-primary transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-primary active:text-black"
    href="#"
    >
    Ver mas...
    </a>
</div>
