---
import NavBar from '@/components/NavBar.astro';
import Footer from '@/components/Footer.astro';


interface Props {
    title : string;
}

const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
    <NavBar />
	<body>
		<slot />
	</body>
    <Footer />
</html>

<style>
	:root{
		scroll-behavior: smooth;
	}
</style>